# .github/workflows/gradle-build-pr.yml
name: Build
on: [push, pull_request]
jobs:
  gradle:
    name: Check Plugin
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: check
    - uses: actions/upload-artifact@v2
      with:
        name: ambient.jar
        path: build/libs/*
